html {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  align-items: center;
  display: flex;
  font-size: 25px;
  height: 120px;
  justify-content: center;
  position: relative; 
}

button {
  background-image: linear-gradient(
    to bottom,
    #ccc -10%,
    #888 25%,
    #707070 50%,
    #666 50%
  );
  border: hidden;
  border-left: 0;
  border-right: 0.5px #333 solid;
  box-shadow: 0 2px 1px 0 rgba(68, 68, 68, 0.2),
  0 2px 1px 0 rgba(68, 68, 68, 0.2);
  color: lavenderblush;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  text-shadow: 2px 2px 4px #000000;
  width: 100px;
}

button:hover {
  background: #666;
}

button:active {
  background-color: #666;
  box-shadow: 0 5px #333;
  transform: translateY(4px);
}

.apple_button {
  border-radius: 5px 0 0 5px;
  font-size: 25px;
}

.support_button {
  align-items: center;
  height: 40px;
  width: 100px;
}

form {
  background-image: linear-gradient(
    to bottom,
    #ccc -10%,
    #888 25%,
    #707070 50%,
    #666 50%
  );
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 1px 0 rgba(68, 68, 68, 0.2),
  0 2px 1px 0 rgba(68, 68, 68, 0.2);
  height: 24px;
  padding: 8px 20px;
  width: 110px;
}

input {
  border-radius: 10px;
}

input:focus {
  background: url(/stuff/search-icon.png) white 5% no-repeat;
}

.search {
  background: url(/stuff/search-icon-blanco.png) gray 5% no-repeat;
  border-bottom: 0;
  box-shadow: 1px 1px inset;
  float: left;
  height: 25px;
  width: 120px;
}

.background_image {
 
  background: transparent url(/stuff/apple-background.jpg) 50% 100% no-repeat;
  background-size: cover;
  color: white;
  min-height: 480px;
  padding: 0px 50px 10px 50px;
  text-align: center;
}

h1 {
  float: inline-start;
  font-weight:lighter;
  font-size: 70px;
  height: 80px;
}

p {
  font-size: 35px;
  margin: 5px 250px 5px 300px;
  text-align: center;
}

.Underline {
  color: white;
  cursor: pointer;
  font-size: 30px;
  padding-bottom: 100px;
}

.Underline:hover {
  color: white;
  font-size: 30px;
  text-decoration: underline;
}

.Iphones_adds {
  display: inline;
}

.iphone5s,
.iphone5sblue,
.HBdy,
.supplier {
  width: 330px;
}

.footer_text, .footer_links  {
  color: #666;
  display: inline-block;
  font-size: small;
  text-decoration: none;
  margin: 15px 15px 15px 70px;
}

a {
  color:#0088cc; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.footer_lastline{
  color: #666;
  font-size: small;
  margin-left: 70px;
  text-align: left;
}

